<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head>
	<title>쿠폰 발급 & 리스트</title>
	<meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
	<script src="https://unpkg.com/vue"></script>
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css"
		  integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
	<link rel="stylesheet" type="text/css" media="all" th:href="@{/resources/static/main.css}"/>
</head>

<body>
<header>
	<div class="navbar navbar-dark bg-dark box-shadow">
		<div class="container d-flex justify-content-between">
			<a href="#" class="navbar-brand d-flex align-items-center">
				<strong>Coupon</strong>
			</a>
		</div>
	</div>
</header>
<main role="main" class="container">
	<div class="row">
		<div class="col blog-main">

			<form class="form-signin" id="issue-coupon" @submit.prevent="issueCoupon">
				<div class="text-center mb-4">
					<h1 class="h3 mb-3 font-weight-normal">Coupon 발급</h1>
				</div>

				<div class="form-group">
					<label for="email">Email address</label>
					<input type="email" id="email" class="form-control" placeholder="Email address" required autofocus v-model="email">
				</div>

				<button class="btn btn-lg btn-primary btn-block" type="submit">Get coupon!</button>
			</form>

			<h3 class="pb-3 mb-4 border-bottom">
				Coupon 리스트
			</h3>

			<script type="text/x-template" id="coupon-table-template">
				<div>
					<table class="table" id="coupon-table">
						<thead class="thead-dark">
						<tr>
							<th scope="col" v-for="key in columns">
								{{ key }}
							</th>
						</tr>
						</thead>
						<tbody>
						<tr v-for="entry in content">
							<td v-for="key in columns">
								{{entry[key]}}
							</td>
						</tr>
						</tbody>
					</table>
					<nav aria-label="Page navigation example">
						<ul class="pagination justify-content-end">
							<nav aria-label="Page navigation example">
								<ul class="pagination justify-content-center">
									<li class="page-item" v-bind:class="first ? 'disabled' : ''">
										<a class="page-link" href="#" tabindex="-1" v-on:click="toTargetPage">Previous</a>
									</li>
									<li class="page-item" v-for="index in pages" v-bind:class="pagenumber === index ? 'disabled' : ''">
										<a class="page-link" href="#" v-on:click="toTargetPage">{{ index + 1 }}</a>
									</li>
									<li class="page-item" v-bind:class="last ? 'disabled' : ''">
										<a class="page-link" href="#" v-on:click="toTargetPage">Next</a>
									</li>
								</ul>
							</nav>
						</ul>
					</nav>
				</div>
			</script>

			<div id="coupon-list">
				<coupon-grid
						:content="content"
						:columns="gridColumns"
						:first="first"
						:last="last"
						:pagenumber="pagenumber"
						:totalpages="totalpages"
						:pages="pages"
				>
				</coupon-grid>
			</div>
		</div>
	</div>
</main>

<footer class="text-muted">
	<div class="container">
		<p class="float-right">
			<a href="#">Back to top</a>
		</p>
		<p>By Toyo</p>
	</div>
</footer>
</body>

<script src="https://code.jquery.com/jquery-3.2.1.min.js"></script>
<script type="text/javascript" th:src="@{/resources/static/main.js}"></script>
</html>
